.list{
    margin: auto;
    margin-top: 100px;
    width: 90%;
    border-collapse: collapse;
}

/* .list . > tr {
} */

/* .list > thead > tr > td{
    text-align: center;
    border-bottom: 1px solid rgb(206, 206, 206);
    padding-bottom: 10px;
    color: rgb(113, 113, 113);
} */

.list > tbody > tr{
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    color: rgb(113, 113, 113);
}

.list > thead > tr > td{
    /* border: 1px solid; */
    padding: 10px;
}

.list > thead > .head > td{
    /* border: 1px solid; */
    padding-top: 10px;
    padding-bottom: 10px;
}

/* .list > thead > tr > td > input{
    
} */

.criteria-input{
    border:none;
    border:1px solid rgb(179, 174, 174);
    border-top:none;
    background-color: rgb(235, 235, 235);
    color:rgb(128, 128, 128);
    padding: 10px;
    width:100%
}

.list > tbody > tr > td{
    /* border-bottom: 1px solid; */
    padding: 10px;
    height:70px
    /* width: 30%; */
}

.list > thead > tr{
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    color: rgb(113, 113, 113);
}

.criteria-input:focus{
    outline-width: 0px;
}