.sign-up{
    display: flex;
    flex-direction: column;
    width:300px;
    margin:auto;
    margin-top:150px;
    background-color: rgb(230, 233, 236);
    padding: 30px;
    border-radius: 20px;
    border:1px solid rgb(203, 203, 203);
    color: rgb(72, 72, 72);
}

.sign-up > input{
    border:none;
    border:1px solid rgb(171, 171, 171);
    padding:5px;
    border-radius: 20px;
    margin-bottom:10px;
    color: rgb(119, 119, 119);
}

.sign-up > input:focus{
    outline-width: 0px;
}

.sign-up > div{
    margin-top: 10px;
    font-size: 15px;
}

.submit{
    width:100px;
    border:none;
    border:1px solid rgb(184, 184, 184);
    background-color:white;
    border-radius: 20px;
    height:25px;
    cursor:pointer;
    color:rgb(77, 77, 77);
    transition: all 0.25s;
}

.submit:hover{
    background-color:rgb(224, 224, 224);
}